
/* GENERAL */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* UTLITY */

section{
  width: 80%;
  margin: 30px auto;
}

.product{
  width: calc(100% / 3);
  display: inline-block;
  padding: 5px;
}


.img-size{
  position: relative;
}

.img-size img{
  width: 100%;
}


.img-size .heart{
  position: absolute;
  right: 0;
  top: 15px;
  padding: 10px 15px;
  background-color: white;
}


.card-promo{
  position: absolute;
  left: 0;
  bottom: 20px;
}

.heart::after{
  content: "\02665";
  font-size: 1.2rem;
}

.card-promo span{
color: white;
padding: 5px;
font-weight: bold;
}

.card-promo .sconto{
  background-color: red;
}

.card-promo .sostenibile{
  background-color: green;
}

.second-image{
  display: none;
}

.img-size:hover .first-image{
  display: none;
}

.img-size:hover .second-image{
  display: inline-block;
}


.description span{
  font-size: 14px;
}

.description h3{
  text-transform: uppercase;
}


.sconto::before{
  content: "-";
}

.sconto::after{
  content: "\0025";
}

.sostenibile::after{
  content: "\00E0";
}

.marchio{
  color: rgb(135, 121, 131);
  font-size: .8rem;
}


.prezzo{
  color: red;
  font-size: .8rem;
}

.prezzo::after{
  content: " \20AC ";
}

.sbarrato{
  color: rgb(135, 121, 131);
  font-size: .8rem;
  text-decoration: line-through;
}





/* MAIN */

.product{
}


.description{
  margin-top: 10px;
}

.product .img-size{
  cursor: pointer;
}

/* BLOCCO 1 */

 

.product .img-size:hover .heart{
  color: red;
}